<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', locals); %> 
    </head>
    <body>
        <header><%- include('../partials/header', locals); %></header>
        <main style="flex-direction: column; padding: 10px; align-items: center;">
            <%- include('../partials/auth-modal', locals); %> 
        </main>
    </body>
</html>