<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', locals); %> 
</head>
<% if(locals.noBackground) { %>
<body style="background: transparent;">
<% } else { %>
<body>
<% } %>
    <% if(locals.includeHeader ?? true) { %><header><%- include('../partials/header', locals); %></header><% } %>
    <%- include('../partials/chat-window', locals); %>
</body>
</html>