<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', locals); %> 
</head>
<body>
    <header><%- include('../partials/header', locals); %></header>
    <main>
        <h1>OpenChat</h1>
        <p>Streamers</p>
        <div class="streamer-list">
            <a class="centered-group streamer-card" href="https://www.kidnotkin.tv">
                <img src="/assets/img/kidnotkin.jpg" style="border-radius: 50%; width: 125px;">
                <h2>KidNotkin</h2>
            </a>
        </div>
    </main>
    <style>
        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .streamer-list {
            width: 100%;
            padding: 15px;
            display: flex;
            flex: 0;
            justify-content: center;
            gap: 15px;
        }

        .streamer-card {
            gap: 15px;
            padding: 20px;
            background-color: var(--dark-grey);
            border-radius: 7px;
            width: fit-content;
            height: fit-content;
            flex: 0;
            border: 2px solid transparent;
            transition: 0.3s;
        }
    </style>
</body>
</html>